footer{
    padding: 10px 20px 0px 20px;
    background-color: brown;
    color: white;
    border-color: black;
}

.card-desing{
    flex: 1 250px;
    padding: 2px 5px 2px 5px;
    margin: 60px;
}

nav.navbar{
    background-color: brown;
    
}
.navbar-default .navbar-nav li a{
    color:white;
    font-size: 9pt;
    font-weight: bold;
}
